header {
    display: flex;
    justify-content: center;
}

td {
  text-align: center;
  vertical-align: top;
}

button {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.expense-title {
  text-align: center;
}

.expense-table-header {
  padding: 6px 10px;
}

.expense-table-data {
  padding: 6px 10px;
}

.expense-table-action-button {
  margin-left: 6px;
  margin-right: 6px;
  padding: 5px;
}

#expense-table-delete-action-button {
  padding-left: 8px;
  padding-right: 8px;
}

.new-expense-table-data-span {
  display: flex;
  align-content: center;
}